name: Compilation_Test
on:
  push:
    branches:
      - 'main'
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Download repo files
        uses: actions/checkout@v6.0.2
      - name: Compile files
        uses: xu-cheng/latex-action@v4
        with:
          working_directory: Thesis
          root_file: Thesis.tex
      - name: Compile slides
        uses: xu-cheng/latex-action@v4
        with: # insert here files to compile
          working_directory: Slides
          root_file: Slides.tex
      - name: Upload compiled file
        uses: actions/upload-artifact@v7
        with: 
          name: Thesis_of_R0mb0
          path: |
            Thesis/Thesis.pdf
            Slides/Slides/pdf
